{% extends "base.html" %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Ativo</th>
            <th>Valor</th>
            <th>Média Móvel</th>
            <th>Bandas de Bollinger</th>
            <th>RSI</th>
        </tr>
    </thead>
    <tbody>
        {% for item in content %}
            <tr>
                <td>{{ item.key }}</td>
                <td>{{ item.value }}</td>
                <td>{{ item.result.SMA }}</td>
                <td>{{ item.result.Bollinger }}</td>
                <td>{{ item.result.RSI }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
